.me-clearfix{
    clearfix();
}

.me-hr{
    hr();
}

a[href^="tel"],
a[href^="mailto"]{
	display: inline-block;
	
	&:before{
		content: "";
		box(12px);
		background: url(../images/phone.svg) no-repeat center;
		background-size: contain;					
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;		
	}
}
a[href^="mailto"]{
	&:before{
		background: url(../images/mail.svg) no-repeat center;
	}
}