//------------------------------------------------------------------------------
//  selectors
//------------------------------------------------------------------------------

//container
$container = "container"
$section = "section"

//header
$header	= "header"
$nav	= "nav"

//footer
$footer	= "footer"


//------------------------------------------------------------------------------
//  variables
//------------------------------------------------------------------------------

//container
$container-width = 1100px
$container-padding = 24px

//------------------------------------------------------------------------------
//  import
//------------------------------------------------------------------------------

@import "common"

@import "container"

@import "header"

@import "nav"

@import "footer"