.me-{$footer}{
	padding: 150px 0;
	font-size: $font_size_sm;
	position: relative;
	background-color: $color_black;
	color: $color_white;
	background-image: url(../images/wide/section-footer.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;	
	background-size: cover;
	clearfix();

	&:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 19;
        background-color: rgba(0, 0, 0, .5);
        display: block;
    }
    & a{
    	color: inherit;
    }
    &__{
    	&row{
    		display: flex;
    	}
    	&col{
    		flex: 1;
    	}
    }
    & address{
    	position: relative;
        line-height: 24px;   
    	
    	&:before{
    		content: "";
    		display: inline-block;
    		position: absolute;
    		left: -24px;
    		box(18px);
    		background: url(../images/icon/map-white.svg) no-repeat center;
    		background-size: contain;
    	}
    }
}