.me-{$header}{
	padding: 30px $container_gutter;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	color: $color_white;
	transition: .25s ease;
	line-height: 54px;

	+mq(gt-lg){
		padding: 39px 60px;
	}
	+mq(gt-md){
		&--affix{
			position: fixed;
			padding-top: 0;
			padding-bottom: @padding-top;
			background-color: rgba($color_brand, .92);
			box-shadow: 0 1px 3px rgba($color_black, .1);
		}
	}
	a{
		color: inherit;
	}
	&__{
		&brand{
			font-size: 0;
			margin-right: 30px;
		}
		&logo{
			box(145px, 100%);
		    background: url(../images/brand/mechetronz-white.svg) no-repeat;
		    background-size: contain;
		    background-position: center;
		    display: block;

		    +mq(md){
		    	width: 240px;
		    }
		}
		&container{
			display: flex;
			align-items: center;

			+mq(md){
				justify-content: space-between;
			}
		}
		&nav{
			display: none;

			+mq(gt-md){
				display: flex;
				flex: 1;
				align-items: center;
				justify-content: space-between;
			}
			[href^="tel"],
			[href^="mailto"]{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}


