.me-{$header}{
	padding: 30px $container-padding;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	color: $color_white;
	transition: .25s ease;

	+mq(gt-lg){
		padding: 45px 60px;
	}
	+mq(gt-sm){
		&--affix{
			position: fixed;
			padding-top: 12px;
			padding-bottom: @padding-top;
			background-color: $color_brand;
		}
	}
	a{
		color: inherit;
	}
	&__{
		&brand{
			font-size: $size_md;
			display: inline-block;
			vertical-align: middle;
			margin-right: 45px;
			line-height: 0;
		}
		&logo{
			box(150px, 42px);
			background: url(../images/brand/mechetronz-white.svg) no-repeat;
			background-size: contain;
			overflow: hidden;
			text-indent: 100%;
			display: inline-block;
			//margin-bottom: -6px;
		}
		&container{
			display: flex;			
			align-items: center;
		}
		&nav{
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: space-between;
			
			[href^="tel"],
			[href^="mailto"]{
				display: inline-block;
				vertical-align: middle;				

				&:before{
					opacity: .75;
				}
			}
		}
	}
}


