.me-{$banner}{
    min-height: 600px;
    position: relative;
    z-index: 9;
    background: $color_brand url(../images/wide/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: $color_white;
    font-weight: $weight_light;
    clearfix();

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: @z-index + 1;
        background-color: rgba($color_brand,.6);
        display: block;
    }
    &__{
        &content{
            padding: 180px 0;
            position: relative;
            z-index: @z-index + 2;
            min-height: 500px;
            text-shadow: 1px 1px 2px rgba($color_black,.1);

            +mq(gt-md){
                padding-top: 240px;
            }
        }
        &title{
            font-size: $size_h1;
            line-height: 1.1;
            margin-bottom: 30px!important;
            font-weight: $weight_bold;

            +mq(gt-md){
                font-size: 72px;
            }
        }
        &quote{
            position: relative;
            font-size: $size_xl;
            font-weight: $weight_light;

            +mq(gt-md){
                font-size: $size_h2;
                letter-spacing: 2px;
            }
            &:before{
                content:'';
                display: block;
                border-radius: 2px;
                background-color: currentColor;
                position: absolute;
                right: 100%;
                top: 15px;
                margin-right: 3px;
                box(15px, 2px);

                +mq(gt-md){
                    top: 21px;
                    margin-right: 9px;
                    box(30px, 2px);
                }
            }
        }
        &launch{
            font-size: $size_lg;
            margin-top: 21px;
            display: inline-block;
            border: 2px solid $color_white;
            border-radius: 2px;
            padding: 12px 30px;
            font-weight: $weight_bold;
            transition: .2s;

            &:hover{
                color: $color_brand;
                background-color: $color_white;
            }
            +mq(gt-md){
                padding: 18px 42px;
                font-size: $size_xl;
            }
        }
    }
    a{
        color: inherit;
    }
}