.me-{$product}{
	&s{
		+mq(gt-sm){
			background: $color_white;
			box-shadow: 1px 1px 4px rgba($color_black, 0.24);
		    border-radius: 2px;
	    }

	    & ul{
	    	+mq(gt-sm){
	    		display: flex;
			}
	    	& li{
	    		flex: 1;
	    	}
	    	+mq(gt-sm){
		    	&.alt{
		    		.me-{$product}{
		    			flex-direction: row-reverse;
		    		}
		    	}
	    	}
	    }
    }
	&{
		+mq(gt-sm){
			display: flex;
			height: 100%;
		}
		+mq(sm){
			background: $color_white;
			box-shadow: 1px 1px 4px rgba($color_black, 0.24);
		    border-radius: 2px;
		    margin-bottom: 30px;
	    }
	}
	&__{
		&content{
			flex: 1;			
			position: relative;

			>div{
				padding: 30px;
				text-align: center;

				// +mq(gt-md){
				// 	padding: 45px;
				// }
			}
			&:after{
				content: '';
				triangle-right(21px,$color_white);
				pointer-events: none;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
    			z-index: 10;
    			margin: auto;
    			
    			+mq(sm){
					display: none;
    			}
			}
			&--alt{
				&:after{
					border-left-width:0;
					left: auto;
					right: 100%;
					triangle-left(21px,$color_white);
				}
			}
		}
		&arrow{
			&-{
				&left,
				&right{
					position: relative;
				}
			}
		}
		&title{
			text-transform: uppercase;
			font-size: $size_st;
			font-weight: $weight_bold;

			> span{
				font-weight: $weight_normal;
				font-size: $size_sm;
				color: $color_muted;
			}
		}
		&img{
			flex: 1;
			background-color: $color_base;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			min-height: 250px;
			position: relative;

			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: rgba($color_black, .2)
			}
		}
		&item{
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;
			color: $color_muted;
			position: relative;
		}
		&item:after{
			content: '';
			display: block;
			box(100%,1px);
			border-bottom: 1px dashed rgba($color_black,.15);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 1;
		}
		&label{
			background-color: $color_white;
			z-index: 4;
			padding-right: 12px;
		}
		&value{
			background-color: $color_white;
			z-index: 4;
			color: $color_base;
			padding-left: 12px;
			font-family: $family_monospace;
		}
		&table{
			text-align: right;
			& ~ &{
				margin-top: 30px;
			}
		}
		&row{
			display: flex;

			&:first-child{
				font-weight: $weight_bold;
				border-bottom 1px dashed rgba($color_black,.15);
			}
		}
		&col{
			flex: 1;
			padding: 3px 0;

			&:first-child{
				flex: 1.5;
				text-align: left;
			}
		}
	}
}