.me-{$product}{
	&s{
		background: $color_white;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
	    border-radius: 2px;

	    & ul{
	    	display: flex;

	    	& li{
	    		flex: 1;
	    	}
	    	+mq(gt-sm){
		    	&.alt{
		    		.me-{$product}{
		    			flex-direction: row-reverse;
		    		}
		    	}
	    	}
	    }
    }

	display: flex;

	&__{
		&content{
			flex: 1;
			min-height: 250px;
			position: relative;

			>div{
				padding: 30px;
				text-align: center;

				+mq(gt-md){
					padding: 45px;
				}
			}
		}
		&title{
			text-transform: uppercase;
			font-size: $font_size_st;
			font-weight: bold;
		}
		&img{
			flex: 1;
			background-color: $color_base;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: relative;

			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, .2)
			}
		}
		&list{
			max-width: 390px;
			margin: 0 auto;
		}
		&item{
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;
			color: $color_muted;
			position: relative;
		}
		&item:after{
			content: '';
			display: block;
			box(100%,1px);
			border-bottom: 1px dashed rgba(0,0,0,.15);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 1;
		}
		&label{
			background-color: $color_white;
			z-index: 4;
			padding-right: 12px;
		}
		&value{
			background-color: $color_white;
			z-index: 4;
			color: $color_base;
			padding-left: 12px;
		}
	}
}