
.me-{$button}{
    display: inline-block;
    padding: 0 15px;
    min-width: 84px;
    cursor: pointer;
    border-width: 0;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    font-weight: 600;
    font-size: $btn_font_size;
    line-height: $btn_height;
    height: $btn_height;
    color: $btn_color_muted;
    background-color: transparent;
    transition: background-color .3s;

    &:hover{
        color: $btn_color_black;
    }
    &--{
        //large
        &lg{
            min-width: 240px;
            font-weight: normal;
            font-size: $font_size_md;
            height: 60px;
            line-height: @height - 2;
        }
        &{$button-accent}{
            color: $btn_color_accent;

            &:hover{
                color: darken($btn_color_accent, 8%);
            }
        }
        &{$button-ghost}{
            border: 1px solid;
            transition: border-color .2s;
        }
        &{$button-raised}{
            background-color: $btn_bg_white;
            box-shadow: $btn_shadow_dp1;

            &:hover{
                background-color: $btn_bg_primary;
                color: $btn_color_white;
            }

            &.me-{$button}--{
                &{$button-primary}{
                    background-color: $btn_bg_primary;
                    color: $btn_color_white;

                    &:hover{
                        background-color: darken($btn_bg_primary, 3%);
                    }
                }
                &{$button-accent}{
                    background-color: $btn_bg_accent;
                    color: $btn_color_white;

                    &:hover{
                        background-color: darken($btn_bg_accent, 5%);
                    }
                }
                &{$button-brand}{
                    background-color: $btn_bg_brand;
                    color: $btn_color_white;

                    &:hover{
                        background-color: darken($btn_bg_brand, 5%);
                    }
                }
            }
        }
        //button spinner
        &spinner{
            background-image: url(../images/cb-spinner-white.svg);
            background-repeat:no-repeat;
            background-position: center;
            color: rgba(0, 0, 0, 0) !important;
            transition-duration: 0s;
            background-size: 30px;

            &.me-{$button}--lg{
                background-size: 39px;
            }
        }
    }
    //icon inside button
    [class*="me-{$icon}"]{
        vertical-align: middle;
        margin: 5px;
    }
}