.me-{$form}{
    //form control placeholder
    ::-webkit-input-placeholder { 
        color: $color_muted!important;
        font-weight: normal!important;
    }        
    ::-moz-placeholder { //firefox 19+
        color: $color_muted!important; 
        font-weight: normal!important;
    } 
    :-moz-placeholder { 
        color: $color_muted!important;
        font-weight: normal!important;
    }        
    :-ms-input-placeholder { //ie
        color: $color_muted!important;
        font-weight: normal!important;
    }        
    
    &__{
        &{$form-label}{
            font-size: $form_label_font_size;
            line-height: $form_label_font_size + 3px;
            color: $form_label_color;
            letter-spacing: -0.38px;
            font-weight: normal;
            margin-bottom: 6px;
        }
        &{$form-control}{
            height: $form_control_height;
            line-height: $form_control_height - 2px;     //border-width has to be subract        
            border: 1px solid $form_control_border;
            background-color: $form_control_bg;
            color: $form_control_color;
            font-size: $form_control_font_size;
            font-weight: 600;
            padding: 0 15px;
            width: 100%;
            border-radius: 2px;
            box-shadow: $form_control_shadow;           
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            
            &:focus{
                border-color: $form_control_border_focus;
                box-shadow: $form_control_shadow_focus;
            }                                
        }          
        &{$form-help}{
            color: $form_help_color;
            font-style: italic;
            margin-top: 12px;
            font-size: $font_size_st;
            line-height: $font_size_st + 5px;
            
            &:empty{
                display: none!important;
            }
        }
        &error{
            color: $form_error_color;                
            font-size: $font_size_sm;
            line-height: $font_size_sm + 2px;
            margin-top: 12px;
            
            &:empty{
                display: none!important;
            }
        }
        &password{

            &-field{
                position: relative;
                
                .me-{$form}{
                    &__{          
                        &{$form-control}{
                            font-family: Helvetica, Arial, Sans-Serif;   
                            padding-right: 60px;
                        }
                    }
                }
            }        
            &-toggle{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 15px;
                z-index: 11;
                margin: auto;            
                font-family: $font-family-base;
                font-weight: 600;
                font-size: 11px;
                line-height: 13px;
                height: 13px;
                color: $link-color;
                text-transform: uppercase;
                cursor: pointer;            
            }  
        } 
        &{$form-group}{
            margin-bottom: 18px;
            position:relative;  
            
            &--{$form-invalid}{
                .me-{$form}{
                    &__{
                        &{$form-control}{
                            border-color: $form_invalid_color;
                            box-shadow: $form_control_shadow_invalid;
                        }
                    }
                }
            }
        }
    }
}
textarea{
    &.me-{$form}{
        &__{          
            &{$form-control}{
                height: auto;
                line-height: 1.8;
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}
