[class*="me-{$icon}"]{
    display: inline-block;
}
.me-{$icon}{
    &--{
        &arrow-up{
            triangle-up(4px);
            
        }
         &arrow-down{
            triangle-down(4px);        
        }
    }
}