//label
$label{
    padding: 0 9px;
    display: inline-block;
    font-size: $font_size_xs;
    white-space: nowrap;
    line-height: 21px;
    border-radius:2px;
}

.me-{$label}--{
    &{$label-fill}{
        @extend $label;
        color: #fff;
    }
    &{$label-line}{
        @extend $label;
        border: 1px solid;
    }
    &{$label-round}{
        @extend $label;
        border-radius: 20px;
    }
}