//bl = block
.me-blk--{
    &left{
        margin-left: auto;
    }
    &right{
        margin-right: auto;
    }
    &center{
        margin-right: auto;
        margin-left: auto;
        display: block;
        float: none;
    }
}