//b = border
.me-b{
    //order
    &o--{
        &u{
            border:1px solid $border_color_base;
        }
        &t{
            border-top:1px solid $border_color_base;
        }
        &b{
            border-bottom:1px solid $border_color_base;
        }
        &l{
            border-left:1px solid $border_color_base;
        }
        &r{
            border-right:1px solid $border_color_base;
        }
    }
    //style
    &s--{
        &solid{
            border-style:solid;
        }
        &dashed{
            border-style:dashed;
        }
    }
    //radius
    &r--{        
        //circle
        &circle{
            border-radius: 50%;
        }        
        &xl{
            border-radius: 20px;
        }        
        &lg{
            border-radius: 10px;
        }       
        &md{
            border-radius: 6px;
        }        
        &st{
            border-radius: 4px;
        }
        &sm{
            border-radius: 3px;
        }
        &xs{
            border-radius: 2px;
        }
        &no{
            border-radius: 0;
        }
    }
}