//f = font
.me-f{
    //size
    &s--{
        &xl{
            font-size: $font-size-xl;
        }
        &lg{
            font-size: $font-size-lg;
        }
        &md{
            font-size: $font-size-md;
        }                
        &st{
            font-size: $font-size-st;
        }
        &sm{
            font-size: $font-size-sm;
        }
        &xs{
            font-size: $font-size-xs;
        }
    }
    //weight
    &w--{
        &700{
            font-weight: 700;
        }
        &600{
            font-weight: 600;
        }
        &500{
            font-weight: 500;
        }
        &400{
            font-weight: 400;
        }
        &200{
            font-weight: 200;
        }
        &100{
            font-weight: 100;
        }
    }    
}