* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-width: 0 !important;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  background-color: #f9f9f9;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 999px) {
  body {
    font-size: 16px;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
img {
  border-width: 0;
}
svg:not(:root) {
  overflow: hidden;
}
iframe {
  border-width: 0;
}
hr {
  border-width: 0;
  height: 1px;
  background-color: $border_color_base;
  overflow: visible;
}
h1 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 0;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 0;
}
h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 0;
}
h4 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 9px;
  margin-top: 0;
}
h5 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 0;
}
h6 {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 0;
}
h1:not(:first-of-type),
h2:not(:first-of-type),
h3:not(:first-of-type),
h4:not(:first-of-type),
h5:not(:first-of-type),
h6:not(:first-of-type) {
  margin-top: 24px;
}
p:not(:last-child) {
  margin-bottom: 12px;
}
a {
  background-color: transparent;
  cursor: pointer;
  color: #fdb302;
  text-decoration: none;
}
a:active,
a:hover {
  color: #f0aa02;
}
b,
strong {
  font-weight: 600;
}
small {
  font-size: 12px;
}
address {
  font-style: normal;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
}
dl {
  display: block;
  margin: 0;
}
dt {
  font-weight: 600;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  border-width: 0;
}
button,
input,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: 600;
}
label {
  font-weight: 500;
  margin-bottom: 0;
}
button,
input,
select {
  overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
[disabled] {
  cursor: not-allowed;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
  resize: vertical;
}
.me-clearfix:before,
.me-clearfix:after {
  content: "";
  display: table;
}
.me-clearfix:after {
  clear: both;
}
.me-hr {
  border-width: 0;
  height: 1px;
  background-color: $border_color_base;
  overflow: visible;
}
a[href^="tel"],
a[href^="mailto"] {
  display: inline-block;
}
a[href^="tel"]:before,
a[href^="mailto"]:before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../images/icon/phone-white.svg") no-repeat center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
a[href^="mailto"]:before {
  background: url("../images/icon/mail-white.svg") no-repeat center;
}
.me-container {
  max-width: 1060px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 89;
}
.me-container:before,
.me-container:after {
  content: "";
  display: table;
}
.me-container:after {
  clear: both;
}
.me-section {
  position: relative;
}
.me-section__title {
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 6px;
}
.me-section--pull {
  margin: -60px 0;
  z-index: 20;
}
.me-section--push {
  padding: 120px 0;
  z-index: 18;
}
.me-section--img {
  background-color: #222;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  min-height: 60vh;
}
@media (min-width: 1000px) {
  .me-section--img {
    min-height: 80vh;
  }
}
.me-section--img:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 19;
  background-color: rgba(0,0,0,0.5);
  display: block;
}
.me-section--img .me-section__title {
  font-size: 32px;
  margin-top: 10vh;
}
@media (min-width: 1000px) {
  .me-section--img .me-section__title {
    margin-top: 20vh;
  }
}
.me-header {
  padding: 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: #fff;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  line-height: 54px;
}
@media (min-width: 1200px) {
  .me-header {
    padding: 39px 60px;
  }
}
@media (min-width: 1000px) {
  .me-header--affix {
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(253,179,2,0.92);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
}
.me-header a {
  color: inherit;
}
.me-header__brand {
  font-size: 0;
  margin-right: 30px;
}
.me-header__logo {
  width: 145px;
  height: 100%;
  background: url("../images/brand/mechetronz-white.svg") no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}
@media (max-width: 999px) {
  .me-header__logo {
    width: 240px;
  }
}
.me-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 999px) {
  .me-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.me-header__nav {
  display: none;
}
@media (min-width: 1000px) {
  .me-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.me-header__nav [href^="tel"],
.me-header__nav [href^="mailto"] {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 1000px) {
  .me-nav >li {
    display: inline-block;
    vertical-align: top;
  }
}
.me-nav >li >a {
  padding: 0 9px;
  display: inline-block;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  color: #fff;
}
.me-nav__inner {
  position: relative;
  white-space: nowrap;
}
.me-nav__inner > a:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
}
.me-nav__inner ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 9px;
  z-index: 111;
  padding: 3px 0;
  background: #fff;
  color: #222;
  min-width: 120px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.12);
  line-height: 1.5;
}
.me-nav__inner ul a {
  display: block;
  padding: 6px 12px;
}
.me-nav__inner ul a:hover {
  background-color: #fde706;
}
.me-nav__inner:hover ul {
  display: inline-block;
}
.me-footer {
  padding: 60px 0 120px;
  position: relative;
  background-color: #222;
  color: #fff;
  background-image: url("../images/wide/section-footer.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.me-footer:before,
.me-footer:after {
  content: "";
  display: table;
}
.me-footer:after {
  clear: both;
}
@media (min-width: 1000px) {
  .me-footer {
    padding: 150px 0;
    font-size: 12px;
  }
}
.me-footer:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 19;
  background-color: rgba(0,0,0,0.5);
  display: block;
}
.me-footer a {
  color: inherit;
}
.me-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 999px) {
  .me-footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.me-footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 999px) {
  .me-footer__col {
    margin-top: 42px;
  }
}
@media (max-width: 999px) {
  .me-footer__logo {
    width: 180px;
  }
}
.me-footer address {
  position: relative;
  line-height: 1.8;
  padding-left: 18px;
}
.me-footer address:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -3px;
  width: 18px;
  height: 18px;
  background: url("../images/icon/map-white.svg") no-repeat center;
  background-size: contain;
}
.me-banner {
  min-height: 600px;
  position: relative;
  z-index: 9;
  background: #fdb302 url("../images/wide/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-weight: 300;
}
.me-banner:before,
.me-banner:after {
  content: "";
  display: table;
}
.me-banner:after {
  clear: both;
}
.me-banner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(253,179,2,0.6);
  display: block;
}
.me-banner__content {
  padding: 180px 0;
  position: relative;
  z-index: 11;
  min-height: 500px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
@media (min-width: 1000px) {
  .me-banner__content {
    padding-top: 240px;
  }
}
.me-banner__title {
  font-size: 45px;
  line-height: 1.1;
  margin-bottom: 30px !important;
  font-weight: 600;
}
@media (min-width: 1000px) {
  .me-banner__title {
    font-size: 72px;
  }
}
.me-banner__quote {
  position: relative;
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: 1000px) {
  .me-banner__quote {
    font-size: 32px;
    letter-spacing: 2px;
  }
}
.me-banner__quote:before {
  content: '';
  display: block;
  border-radius: 2px;
  background-color: currentColor;
  position: absolute;
  right: 100%;
  top: 15px;
  margin-right: 3px;
  width: 15px;
  height: 2px;
}
@media (min-width: 1000px) {
  .me-banner__quote:before {
    top: 21px;
    margin-right: 9px;
    width: 30px;
    height: 2px;
  }
}
.me-banner__launch {
  font-size: 18px;
  margin-top: 21px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 12px 30px;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.me-banner__launch:hover {
  color: #fdb302;
  background-color: #fff;
}
@media (min-width: 1000px) {
  .me-banner__launch {
    padding: 18px 42px;
    font-size: 24px;
  }
}
.me-banner a {
  color: inherit;
}
@media (min-width: 800px) {
  .me-products {
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.24);
    border-radius: 2px;
    font-size: 14px;
  }
}
@media (min-width: 800px) {
  .me-products ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.me-products ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 800px) {
  .me-products ul.alt .me-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (min-width: 800px) {
  .me-products--alt .me-product {
    height: 360px;
  }
}
@media (min-width: 800px) {
  .me-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
@media (max-width: 799px) {
  .me-product {
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.24);
    border-radius: 2px;
    margin: 0 -15px 30px;
  }
}
.me-product__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.me-product__content >div {
  padding: 30px;
  text-align: center;
}
.me-product__content:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid #fff;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 10;
  margin: auto;
}
@media (max-width: 799px) {
  .me-product__content:after {
    display: none;
  }
}
.me-product__content--alt:after {
  border-left-width: 0;
  left: auto;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-right: 21px solid #fff;
}
.me-product__arrow-left,
.me-product__arrow-right {
  position: relative;
}
.me-product__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.me-product__title > span {
  font-weight: 500;
  font-size: 12px;
  color: #999;
}
.me-product__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;
  position: relative;
}
.me-product__img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
}
.me-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
  color: #999;
  position: relative;
}
.me-product__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed rgba(0,0,0,0.15);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.me-product__label {
  background-color: #fff;
  z-index: 4;
  padding-right: 12px;
}
.me-product__value {
  background-color: #fff;
  z-index: 4;
  color: #222;
  padding-left: 12px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}
.me-product__table {
  text-align: right;
}
.me-product__table ~ .me-product__table {
  margin-top: 30px;
}
.me-product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.me-product__row:first-child {
  font-weight: 600;
  border-bottom: 1px dashed rgba(0,0,0,0.15);
}
.me-product__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3px 0;
}
.me-product__col:first-child {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  text-align: left;
}
