//ba = background
.me-ba{
    //color
    &c--{
        &primary{
            background-color: $color_primary;
        }
        &accent{
            background-color: $color_accent;
        }
        &warn{
            background-color: $color_warn;
        }
        &white{
            background-color: $color_white;
        }
        &black{
            background-color: $color_black;
        }
    }
}