@mixin text-effects($effect){
    &strike#{$effect}{
        text-decoration: line-through;
    }
    &under#{$effect}{
        text-decoration: underline;
    }
    &none#{$effect}{
        text-decoration:none;
    }
    &dashed{
        border-bottom: 1px dashed;
    }
    &dotted{
        border-bottom: 1px dotted;
    }
}
.me-t{
    //color
    &c--{        
        &brand{
            color: $color_brand;
        }
        &primary{
            color: $color_primary;
        }
        &accent{
            color: $color_accent;
        }
        &warn{
            color: $color_warn;
        }
        &white{
            color: $color_white;
        }
        &black{
            color: $color_black;
        }
        &muted{
            color: $color_muted;
        }
    }
    //effect
    &e--{
        @include text-effects("");

        //effects on hover
        &ho-{
            @include text-effects(":hover");
        }
    }
    //align
    &a-{
        &-right{
            text-align: right;
        }
        &-center{
            text-align: center;
        }
        &-left{
            text-align: left;
        }
    }
    //transform
    &t-{
        &-upper{
            text-transform:uppercase;
        }
        &-none{
            text-transform:none;
        }
    }
}
