.me-{$banner}{
    min-height: 80vh;
    position: relative;
    z-index: 9;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: $color_white;
    font-weight: 200;
    clearfix();

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: @z-index + 1;
        background-color: rgba(0, 0, 0, .5);
        display: block;
    }

    &__{
        &title{
            font-size: 60px;
            line-height: @font-size + 12;            
            margin-bottom: 60px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 12px;           
        }
        &quote{
            font-size: $font_size_lg;
            line-height: @font-size + 6;
            letter-spacing: 3px;
            
            &:before{
                content:'';
                display: block;
                margin: 0 auto 30px;
                box(60px, 2px);
                background-color: $color_white;
            }
        }
        &content{
            padding: 240px 0 150px;
            position: relative;
            z-index: @z-index + 2;
            min-height: 500px;
            text-align: center;
        }
    }
    a{
        color: inherit;
    }
}