[class*="me-{$list}--"]{
    min-height: 1px;
    clearfix();    
    
    {$list-item}{
        min-height: 1px;
    }
}

.me-{$list}{
    &--{
        &{$list-order},
        &{$list-unorder}{
            &:not(me-{$list}--{$list-inline}){
                margin-left: 24px;

                {$list-item}{
                    display: list-item;
                }
            }
        }
        &{$list-order}{                        
            {$list-item}{
                list-style-type: decimal;
            }
        }    
        &{$list-unorder}{                        
            {$list-item}{
                list-style-type: disc;            
            }    
        }
    }
}
[class*="me-{$list}--{$list-inline}"]{
    {$list-item}{                    
        display: inline-block;
    }
}
.me-{$list}{
    &--{
        //inline
        &{$list-inline}{

            &-vt{
                {$list-item}{
                    vertical-align: top;
                }
            }
            &-vm{
                {$list-item}{
                    vertical-align: middle;
                }
            }
            &-vb{
                {$list-item}{
                    vertical-align: bottom;
                }
            }
        }
    }
}
[class*="me-{$list}--{$list-space}"]{
    
    &:not([class*="me-{$list}--{$list-inline}"]){
        {$list-item}{        
            margin-left:0!important;
        }
    }    
    &[class*="me-{$list}--{$list-inline}"]{
        {$list-item}{            
            margin-top:0!important;            
        }
    }
}