.me-{$paper}{
    border-radius: 2px;
    box-shadow: $shadow_dp2;
    background-color: #fff;    
    
    &--{
        //space
        &block-{
            &xl{
                padding: 60px;
            }
            &lg{
                padding: 42px;
            }
            &md{
               padding: 30px; 
            }
            &st{
                padding: 24px;
            }
            &sm{
                padding: 12px;
            }
            &xs{
                padding: 6px;
            }
        }        
    }
}
[class*="me-{$paper}"]{
    clearfix();
}